<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            background-color: aliceblue;
            text-align:center;
        }
        h1 {
            text-align: center;
        }
    </style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="/static/panther.png" alt="Photo of the University pf Pittsburgh panther logo">
    <h1>Welcome to Panther Hotel</h1>
    <a href='/Roomslist'><button>Book a Room</button></a>
    <a href='/Reservations'><button>Manager</button></a>
</body>
</html>